.custom-cursor {
    cursor: url('images/cursordesign.png'), auto;
  }
  
.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
    padding: 10px; 
    width: 100%; 
    height: 100vh; 
}
.back-video{
    max-width: 90%; 
    max-height: 80vh; 
}
.title-container{
    width:600px; 
    height:127px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.title1{
    width:600px; 
    height:127px; 
    position: absolute;
    top: 0; 
    left: 0;
    display: block; 
}

.title2{
   position: absolute;
    top: 0; 
    left: 0; 
    transform: translate(0, 0); 
    width: 600px; 
    height: 127px; 
    display: none; 
}

.title-container:hover .title1 {
    display: none;
}

.title-container:hover .title2 {
    display: block;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    
        
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
        
    }
}

.title1 {
    z-index: 1; 
    position: relative; 
}




.newImage img {
    z-index: 2; 
    position: relative; 
}


#subtitle{
    display: none; 
    position: absolute; 
    top: -190%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width: 200px; height : auto;
}

#imageA{
    display: none; 
    position: absolute; 
    top: 10%; 
    left: 15%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width: 100px; height : auto;
}

#imageB{
    display: none; 
    position: absolute; 
    top: 115%; left: 170%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:100px; height:auto;
}

#imageC{
    display: none; 
    position: absolute; 
    top: 160%; left: 70%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:100px; height:auto;
}

#imageD{
    display: none; 
    position: absolute; 
    top: 280%; left: 120%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:130px; height:auto;
}

#imageG{
    display: none; 
    position: absolute; 
    top: 240%; left: -20%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:140px; height:auto;
}

#imageJ{
    display: none; 
    position: absolute; 
    top: 160%; left: -65%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:100px; height:auto;
}

#imageM{
    display: none; 
    position: absolute; 
    top: -85%; left: 110%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:100px; height:auto;
}

#imageV{
    display: none; 
    position: absolute; 
    top: -50%; left: -30%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:130px; height:auto;
}

#imageZ{
    display: none; 
    position: absolute; 
    top: -50%; left: 150%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:130px; height:auto;
}


dialog{
    position: relative; 
    background-color:rgba(0, 0, 0, 0.6);
    color: black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
    border: 0;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 400px; 
    height: 700px; 
    border: 1px dotted #ccc; 
    padding: 20px; 
 

}

dialog::backdrop{
background-color: rgba(0, 0, 0, 0.5);
}



dialog h4 {
    font-family: 'DOSGothic', normal;
    color: white;
    font-weight: normal;
    margin-top: 35px;
   
}


dialog h1 {
    font-family: 'DOSGothic', normal; 
  
    font-size: 28px; 
    font-weight: bold; 
    margin-bottom: 20px;
    margin-top: 3px;
}
dialog #aa, #bb, #cc, #dd, #gg, #jj, #mm, #vv ,#zz {
    display: block;
    width: 180px;
    height: auto;
    margin: 5px auto;
    margin-bottom: 30px;
}

dialog p {
    font-family: 'DOSGothic', normal;
    line-height: 1.5; 
    margin-bottom: 10px;
}

dialog button {
    font-family: 'DOSGothic', normal;
    position: absolute; 
    top: 20px; 
    right: 20px; 
    background-color: #0092fb; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    padding: 5px 10px; 
    border: 2px solid #ffffff; 
    margin-top: 5px;
    margin-bottom: 10px;
}

dialog button:hover {
   
    color:#ffffff;
}

.buy-button{
    cursor: pointer;
}

.word-box {
    border: 2px solid #0092fb; 
    padding: 0.1px 3px; 
    margin: 3px; 
    display: inline-block; 
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.823); 
    box-shadow: 0 0 0 1px #ffffff;
   
    filter: blur(2px);
    transition: all 0.3s ease;
  
}

.word-box:hover {
    transform: scale(1.5);
    background-color: rgba(255, 255, 255);
    letter-spacing: normal;
    filter: none;

}

@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}