.custom-cursor {
    cursor: url('images/cursordesign.png'), auto;
  }
  

.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* 흰색 배경 설정 */
    padding: 10px; /* 위, 아래, 양 옆에 흰색 영역(패딩) 추가 */
    width: 100%; /* 컨테이너 너비 */
    height: 100vh; /* 화면 높이에 맞춤*/
    /*position: static; 비디오, 타이틀 유동적으로 조절
    z-index: -100;
    background-size: cover;
    overflow: hidden;*/
}

.back-video{
    max-width: 90%; /* 비디오의 최대 너비, 여백을 위해 100% 미만으로 설정 */
    max-height: 80vh; 

    /*position: absolute; 비디오 절대적 위치 기준점(contain)
    width: 100%;
    height: 100%;*/
   
}






.title-container{
    width:600px; /* px 단위 추가 */
    height:127px; /* px 단위 추가 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.title1{
    width:600px; /* px 단위 추가 */
    height:127px; /* px 단위 추가 */
    position: absolute; /* 수정: 상대 위치에서 절대 위치로 변경 */
    top: 0; /* top과 left를 0으로 설정하여 title-container 내에서 정렬 */
    left: 0;
    display: block; /* 기본 상태에서는 title1이 보이도록 설정 */
}

.title2{
   position: absolute;
    top: 0; /* 비율 조정 */
    left: 0; /* 비율 조정 */
    transform: translate(0, 0); 
    width: 600px; 
    height: 127px; 
    display: none; /* 기본 상태에서는 title2가 숨겨져 있음 */
}

.title-container:hover .title1 {
    display: none;
}

.title-container:hover .title2 {
    display: block;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
        /*height: 300%; top: -100%;*/
        
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
        /*width: 300%; left: -100%;*/
    }
}

.title1 {
    z-index: 1; /* 다른 이미지들보다 낮은 z-index */
    position: relative; /* z-index가 작동하려면 position이 필요합니다 */
}



/* 다른 이미지들에 대한 z-index 설정 */
.newImage img {
    z-index: 2; /* title1보다 높은 z-index */
    position: relative; /* z-index가 작동하려면 position이 필요합니다 */
   
}


#subtitle{
    display: none; 
    position: absolute; 
    top: -250%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width: 200px; height : auto;
}

#imageA{
    display: none; 
    position: absolute; 
    top: 10%; 
    left: 15%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width: 100px; height : auto;
}

#imageB{
    display: none; 
    position: absolute; 
    top: 115%; left: 170%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:100px; height:auto;
}

#imageC{
    display: none; 
    position: absolute; 
    top: 160%; left: 70%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:100px; height:auto;
}

#imageD{
    display: none; 
    position: absolute; 
    top: 280%; left: 120%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:130px; height:auto;
}

#imageG{
    display: none; 
    position: absolute; 
    top: 240%; left: -20%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:140px; height:auto;
}

#imageJ{
    display: none; 
    position: absolute; 
    top: 160%; left: -65%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:100px; height:auto;
}

#imageM{
    display: none; 
    position: absolute; 
    top: -85%; left: 110%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:100px; height:auto;
}

#imageV{
    display: none; 
    position: absolute; 
    top: -50%; left: -30%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:130px; height:auto;
}

#imageZ{
    display: none; 
    position: absolute; 
    top: -50%; left: 150%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    width:130px; height:auto;
}


dialog{
    position: relative; /* 닫기 버튼 위치 조정 위해서 설정 */
    background-color:rgba(0, 0, 0, 0.6);
    color: black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
    border: 0;
    top: 50%; /*세로 가운데 정렬*/
    left: 50%; /*가로 가운데 정렬*/
    transform: translate(-50%, -50%);
    width: 400px; 
    height: 700px; 
    border: 1px dotted #ccc; /* 경계선 스타일 */
    padding: 20px; /* 내부 여백 */

 

}

dialog::backdrop{
background-color: rgba(0, 0, 0, 0.5);
}


/* h4 스타일 */
dialog h4 {
    font-family: 'DOSGothic', normal;
    color: white;
    font-weight: normal;
    margin-top: 35px;
   
}

/* h1 스타일 */
dialog h1 {
    font-family: 'DOSGothic', normal; 
  
    font-size: 28px; /* 폰트 크기 */
    font-weight: bold; /* 폰트 두께 */
    margin-bottom: 20px;
    margin-top: 3px;
}
dialog #aa, #bb, #cc, #dd, #gg, #jj, #mm, #vv ,#zz {
    display: block;
    width: 180px;
    height: auto;
    margin: 5px auto;
    margin-bottom: 30px;
}

dialog p {
    font-family: 'DOSGothic', normal;
    line-height: 1.5; /* 줄 간격 */
    margin-bottom: 10px;
}

dialog button {
    font-family: 'DOSGothic', normal;
    position: absolute; /* 절대 위치 */
    top: 20px; /* 상단에서의 위치 */
    right: 20px; /* 우측에서의 위치 */
    background-color: #0092fb; /* 배경색 */
    border: none; /* 경계선 없음 */
    border-radius: 10px; /* 모서리 둥글게 */
    cursor: pointer; /* 커서 모양 변경 */
    padding: 5px 10px; /* 내부 여백 */
    border: 2px solid #ffffff; 
    margin-top: 5px;
    margin-bottom: 10px;
}

dialog button:hover {
    /*background-color: #e0e0e0;  호버 시 배경색 변경 */
    color:#ffffff;
}

.buy-button{
    cursor: pointer;
}

.word-box {
    border: 2px solid #0092fb; /* 테두리 색상 */
    padding: 0.1px 3px; /* 내부 여백 */
    margin: 3px; /* 외부 여백 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    border-radius: 10px; /* 테두리 둥글게 */
    background-color: rgba(255, 255, 255, 0.823); /* 박스 안쪽 배경색 설정 */
    box-shadow: 0 0 0 1px #ffffff;
   /* transition: transform 0.1s ease; */
    /* letter-spacing: -2px; 글자 간격을 줄여 일그러진 효과 생성 */
    filter: blur(2px);
    transition: all 0.3s ease;
  
}

.word-box:hover {
    transform: scale(1.5); /* 호버 시 10% 확대 */
    background-color: rgba(255, 255, 255);
    letter-spacing: normal;
    filter: none;

}

@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}